*{
    padding: 0;
    margin: 0;
    
}
.header {
    background-color:mediumslateblue;
    padding:  45px 40px;
    text-align: center;
    color: white;
}

.header input[type="text"] {
     padding: 9px 415px 9px 5px;
     border: none;
     border-radius: 2px 0px 0px 2px;
     text-align: left;
}

#list {
    list-style: none;

} 

#list li {
    padding: 19px 20px 18px 55px;
}

#list li:nth-child(odd){
    background-color:rgba(207, 207, 207, 0.945) ;
}

#list li:hover {
    background-image:linear-gradient(to right, rgba(207, 207, 207, 0.945) ,mediumslateblue);
    color: rgb(255, 255, 255);
}

ul li.checked {
    background:rgba(207, 207, 207, 0.945) ;
    color: white;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 22px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.addBtn {
    margin-left: 1px;
    padding: 9px 60px 9px 60px;
    border:solid 2px ;
    border-radius: 0px 2px 2px 0px;
    background-color: rgb(209, 209, 209);
}

#